<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="riakConfig" type="RiakClient.Config.RiakClusterConfiguration, RiakClient"/>
  </configSections>
  <appSettings>
    <add key="Riak" value="Configuration"/>
  </appSettings>
  <riakConfig nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
    <nodes>
        <node name="riak1" hostAddress="localhost"
              pbcPort="8087" poolSize="20" />
        </nodes>
  </riakConfig>
</configuration>
